@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

/* Defaul styles  */
.container{
  width: 90%;
  margin: 75px auto;
  border-radius: 1rem;
}

.orange{
  color: rgb(255, 84, 0);
}

.title{
color: white;
font-size: 40px;
font-weight: 800;
}

.des{
color: rgba(19, 19, 24, 0.7);
font-size: 16px;
font-weight: 400;
}

.btn-primary{
  background-color: rgb(255, 84, 0);
  padding: 12px 24px;
  color: white;
  font-size: 16px;
  font-weight: 800;
  border: none;
  border-radius:8px ;
}



/* navbar  */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;

}
.logo h2{
font-size: 36px;
font-weight: 800;
margin-left: 1rem;
}

.nav-option{
  display: flex;
  gap: 2rem;
}

.nav-option p{
font-size: 18px;
font-weight: 700;
cursor: pointer;
}


/* Banner  */
.banner{
  background-image:linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8),
    rgba(19, 19, 24, 0)) ,
    url(Images/g1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 7rem;
}

.banner-text-content{
  text-align: center;
}

.banner-title{
  color: white;
  font-size: 4rem;
  font-weight: 700;
}

.banner-text-content p{
  margin: 20px auto;
}



.banner-text-content p{
  padding: 20px;
  color: white;
}

.input-field{
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 3rem;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(4px);
}

.input-field > input,select{
  width: 174px;
  height: 50px;
  border-radius: 8px;
  padding: 10px;
}
